/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2019, 9:23:57 PM
    Author     : Munish
*/
/*.cohesiveTabPadding{
	padding: .1rem;
	}*/
	
.nav-link {
    display: block;
    padding: .6rem ;
}